{
  "presets": [
    "@babel/react",
    "@babel/stage-2"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "createElement",
        "pragmaFrag": "Fragment"
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
